<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
  <h1>delete user</h1>
  <label for="mail">e-mail</label>
  <input type="text" th:field="*{user.mail}" id="mail">
  <br>
  <label for="password">password</label>
  <input th:field="*{user.password}" type="text" id="password">
  <br>
  <label for="firstName">name</label>
  <input th:field="*{user.firstName}" type="text" id="firstName">
  <br>
  <label for="lastName">name</label>
  <input th:field="*{user.lastName}" type="text" id="lastName">
  <br>
  <label for="age">age</label>
  <input th:field="*{user.age}" type="text" id="age">
  <br>
  <label for="role">role</label>
  <label th:text="${user.getStringRoles()}"  id="role"></label>
  <br>
  <input type="submit" value="delete user"/>
</form>
</body>
</html>