<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label>ID</label>
    <div th:text="${auth.id}"></div>
<label>Mail</label>
    <div th:text="${auth.mail}"></div>
<label>Password</label>
    <div th:text="${auth.password}"></div>
<label>First name</label>
    <div th:text="${auth.firstName}"></div>
<label>Last name</label>
    <div th:text="${auth.lastName}"></div>
<label>Age</label>
    <div th:text="${auth.age}"></div>
<label>Role</label>
    <div th:text="${auth.getStringRoles()}"></div>

    <a href="/admin">Admin</a>
    <a th:href="@{/logout}"> Logout</a>
</body>
</html>