<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table>
    <tbody>
    <div>
        <th:block th:each="user : ${users}">
            <tr>
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.mail}"></td>
                <td th:text="${user.pass}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.getStringRoles()}"></td>
                <td><a th:href="@{/admin/{id}/edit(id=${user.id})}" th:text="update">update</a></td>
                <td><a th:href="@{/admin/{id}/delete(id=${user.id})}" th:text="delete">delete</a></td>

            </tr>

        </th:block>
    </div>
    </tbody>
</table>
<a href="/admin/new">new</a>
<br>
<a href="/user">me</a>
<br>
<a th:href="@{/logout}"> Logout</a>

</body>
</html>